<!--<div class="container-narrow">-->
  <!--<div class='wow'>-->
      <!--<div class="lead">{{team_name}}</div>-->
      <!--</div>-->

      <!--<table class="table table-hover">-->
      <!--{% for puzzle in puzzles %}-->
            <!--<tr>-->
                <!--<div class="lead">{{puzzle}}</div>-->
                    <!--<a class="btn btn-large btn-success" href="/puzzle?p={{loop.index}}">Try Puzzle {{loop.index}}</a>-->
            <!--</tr>-->
      <!--{% endfor %}-->
      <!--</table>-->
  <!--</div>-->
<!--</div> &lt;!&ndash; /container &ndash;&gt;-->

       <div class="section-header">
      <div class="container">
        <div class="row">

          <div class="col-lg-12">
            <h1 class="page-header">Puzzles</h1>
          </div>

        </div>
      </div> <!-- /.container -->
    </div> <!-- /.section-colored -->

     <div class="container container-int">
      <div class="row">

        <div class="col-lg-12">

          <div class="row">

            <div class="col-md-4 col-sm-4 portfolio-item">
              <a href=/puzzle?p=1 class="link-portfolio">
                <div class="overlay-portfolio">
                  <h3 style=font-size:60px;>64-bit</h3>
                  <small class="text-muted">
                  </small>
                </div><!-- /.overlay-portfolio -->
                <img class="img-responsive img-home-portfolio" src="static/img/one.jpg" alt="puzzle 1">
              </a>
            </div>

            <div class="col-md-4 col-sm-4 portfolio-item">
              <a href=/puzzle?p=2 class="link-portfolio">
                <div class="overlay-portfolio">
                  <h3 style=font-size:36px;>Almost One Of The X-Men</h3>
                  <small class="text-muted">
                  </small>
                </div><!-- /.overlay-portfolio -->
                <img class="img-responsive img-home-portfolio" src='static/img/two.jpg' alt='puzzle 2'>
              </a>
            </div>

            <div class="col-md-4 col-sm-4 portfolio-item">
              <a href="/puzzle?p=3" class="link-portfolio">
                <div class="overlay-portfolio">
                  <h3 style=font-size:52px;>Ant Man</h3>
                  <small class="text-muted">
                  </small>
                </div><!-- /.overlay-portfolio -->
                <img class="img-responsive img-home-portfolio" src=static/img/three.jpg alt='puzzle 3'>
              </a>
            </div>

          </div>

          <div class="row">

            <div class="col-md-4 col-sm-4 portfolio-item">
              <a href="/puzzle?p=4" class="link-portfolio">
                <div class="overlay-portfolio">
                  <h3 style=font-size:60px;>Loki</h3>
                  <small class="text-muted">
                  </small>
                </div><!-- /.overlay-portfolio -->
                <img class="img-responsive img-home-portfolio" src=static/img/four.jpg alt=“puzzle 4">
              </a>
            </div>

            <div class="col-md-4 col-sm-4 portfolio-item">
              <a href="/puzzle?p=5" class="link-portfolio">
                <div class="overlay-portfolio">
                  <h3 style=font-size:35px;>Mister Mxyzptlk Strikes Back</h3>
                  <small class="text-muted">
                  </small>
                </div><!-- /.overlay-portfolio -->
                <img class="img-responsive img-home-portfolio" src=static/img/five.jpg alt=“puzzle 5">
              </a>
            </div>

            <div class="col-md-4 col-sm-4 portfolio-item">
              <a href="/puzzle?p=6" class="link-portfolio">
                <div class="overlay-portfolio">
                  <h3 style=font-size:45px;>Multiple Man</h3>
                  <small class="text-muted">
                  </small>
                </div><!-- /.overlay-portfolio -->
                <img class="img-responsive img-home-portfolio" src=static/img/six.jpg alt=“puzzle 6">
              </a>
            </div>

          </div>
   <div class="row">

            <div class="col-md-4 col-sm-4 portfolio-item">
              <a href="/puzzle?p=7" class="link-portfolio">
                <div class="overlay-portfolio">
                  <h3 style=font-size:45px;>Reign Of The Superman</h3>
                  <small class="text-muted">
                  </small>
                </div><!-- /.overlay-portfolio -->
                <img class="img-responsive img-home-portfolio" src=static/img/seven.jpg alt=“puzzle 7”>
              </a>
            </div>

            <div class="col-md-4 col-sm-4 portfolio-item">
              <a href=/puzzle?p=8 class="link-portfolio">
                <div class="overlay-portfolio">
                  <h3 style=font-size:45px;>Speed Trap</h3>
                  <small class="text-muted">
                  </small>
                </div><!-- /.overlay-portfolio -->
                <img class="img-responsive img-home-portfolio" src=static/img/eight.jpg alt=“puzzle 8”>
              </a>
            </div>

            <div class="col-md-4 col-sm-4 portfolio-item">
              <a href="/puzzle?p=9" class="link-portfolio">
                <div class="overlay-portfolio">
                  <h3 style=font-size:25px;>SummonMoonKnight</h3>
                  <small class="text-muted">
                  </small>
                </div><!-- /.overlay-portfolio -->
                <img class="img-responsive img-home-portfolio" src=static/img/nine.jpg alt=“puzzle 9”>
              </a>
            </div>

          </div>
   <div class="row">

            <div class="col-md-4 col-sm-4 portfolio-item">
              <a href='/puzzle?p=10' class="link-portfolio">
                <div class="overlay-portfolio">
                  <h3 style=font-size:50px;>Superhero Teams</h3>
                  <small class="text-muted">
                  </small>
                </div><!-- /.overlay-portfolio -->
                <img class="img-responsive img-home-portfolio" src=static/img/ten.jpg alt=“puzzle 10”>
              </a>
            </div>

            <div class="col-md-4 col-sm-4 portfolio-item">
              <a href='/puzzle?p=11' class="link-portfolio">
                <div class="overlay-portfolio">
                  <h3 style=font-size:50px>The Cape</h3>
                  <small class="text-muted">
                  </small>
                </div><!-- /.overlay-portfolio -->
                <img class="img-responsive img-home-portfolio" src=static/img/eleven.jpg alt=“puzzle 11”>
              </a>
            </div>

            <div class="col-md-4 col-sm-4 portfolio-item">
              <a href='/puzzle?p=12' class="link-portfolio">
                <div class="overlay-portfolio">
                  <h3 style=font-size:40px;>The Rhyme of the Sub-Mariner</h3>
                  <small class="text-muted">
                  </small>
                </div><!-- /.overlay-portfolio -->
                <img class="img-responsive img-home-portfolio" src=static/img/twelve.jpg alt=“puzzle 12”>
              </a>
            </div>

          </div>
 <div class="row">

            <div class="col-md-4 col-sm-4 portfolio-item">
              <a href='/puzzle?p=13' class="link-portfolio">
                <div class="overlay-portfolio">
                  <h3 style=font-size:40px;>The IEEE Shirt Mystery</h3>
                  <small class="text-muted">
                  </small>
                </div><!-- /.overlay-portfolio -->
                <img class="img-responsive img-home-portfolio" src=static/img/thirteen.jpg alt=“puzzle 13”>
              </a>
            </div>
        </div>
        </div>
      </div>
         </div>