<div class="section-header">
      <div class="container">
        <div class="row">

          <div class="col-lg-12">
            <h1 class="page-header">FAQ <small>Frequently Asked Questions</small></h1>
          </div>

        </div>
      </div> <!-- /.container -->
    </div> <!-- /.section-colored -->

    <div class="container container-int">

      <div class="row">

        <div class="col-lg-12">

          <div class="panel-group" id="accordion">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                   My question has few, if any, instructions. What gives?
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                  The instructions are often vague by design. It’s up to you to figure out what the puzzle is asking for based on the information given. You’ll get the hang of it!
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    What am I looking for?
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                 Each question is different, but as a general rule, you should look for patterns, associations, and themes in the images or text you see in the puzzle. Often, you may uncover a clue or riddle, the answer to which is the solution.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                    In what format should my answers be?
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                  The answer to every puzzle is a string. This includes single and multi-word answers. In some cases, the puzzle may accept several similar answers, but usually we’re looking for a very specific response. 
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                    Can I get hints?
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                 It will be up to the discretion of the A-team to give hints but it will be rare. In the case in which a hint is deemed necessary, we will post it to the Facebook event so that everyone can see it.                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
There are only thirty minutes left and we’re in the hunt! What happened to the scoreboard?
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                  The scoreboard will shut off with thirty minutes left in the competition. Focus on getting those puzzles answered and make sure you join us at the awards presentation to see if you won!
                </div>
              </div>
            </div>
</div>
            </div>
          </div>
        </div>