<div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
        <ol class="carousel-indicators">
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
         <div class="fill" style="background-image:url('static/img/puzzlehunt1.jpg');">

	</div>
            <div class="carousel-caption">
              <h2>Rice Puzzle Hunt 2014 took place on November 15.</h2>
              <!--<a href="/allpuzzles" class="button">Get Started</a>-->
                <a href="http://1drv.ms/1uj6hWe" class="button">2014 Puzzles & Solutions</a>
            </div>
          </div>
          </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
        </a>
    </div>

    <div class="section">

      <div class="container">

      <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="block-icon">
              <a href=http://ieee.rice.edu/><img src="static/img/ieee.gif" alt="“IEEE" style="width:70px;height:70px"></a>
            </div>

            <div class="block-body">
              <h2>Rice IEEE</h2>
              <div class="line-subtitle"></div>
              <p>We run this shit</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="block-icon">
             <img src="static/img/ricelogo.gif" alt="Rice Logo" style="width:151px;height:70px;margin-left:-50px">
            </div>

            <div class="block-body">
              <h2>Rice University</h2>
              <div class="line-subtitle"></div>
              <p></p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="block-icon">
              <a href=http://careers.microsoft.com/careers/en/us/home.aspx><img src="static/img/Microsoft.gif" alt="Microsoft" style="width:70px;height:70px;"></a>
            </div>

            <div class="block-body">
              <h2>Microsoft</h2>
              <div class="line-subtitle"></div>
              <p>This event would not be possible without the generous support of Microsoft. If you have not already, please consider applying for full time or internship positions through their students website. Send your resumes to ieee@rice.edu so that we can pass them on to the Rice recruiter. Thanks Microsoft!</p>
            </div>
          </div>
        </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->