<div class="section-header">
      <div class="container">
        <div class="row">

          <div class="col-lg-12">
            <h1 class="page-header">Rules</h1>
          </div>

        </div>
      </div> <!-- /.container -->
    </div> <!-- /.section-colored -->

    <div class="container container-int">

      <div class="row">

        <div class="col-lg-12">

          <blockquote>
            <p>The competition lasts for three hours. Teams are ranked on the total number of points they score. At the end of this time, the top four teams will be named winners!</p>
          </blockquote>

          <p>Every puzzle is worth 100 points. You will have five attempts to solve each puzzle. The puzzle page will store and display your previous submissions, indicating whether or not your submission is correct. After your fifth attempt, the puzzle page will no longer accept additional answers. Each submission is worth 10% fewer points than the previous submission so that your first attempt will get full points and your fifth attempt is worth 60 points. </p>

          <p>Each player is to work only with his/her own team members and not share answers or information with other teams. Honor code guys. If necessary, the A-team reserves the right to disqualify any team that blatantly violates this rule. 
If there is a tie, the tiebreaker will be the speed with which the teams in question achieved their final score.
</p>

          <p>With the exception of direct answers you find online or elsewhere, you may use any resource you would like to solve these puzzles. You’re gonna need it ;) 
</p>
        </div>

      </div>

    </div><!-- /.container -->   